USE [master]
GO
/****** Object:  Database [MusicOnline]    Script Date: 10/10/2017 14:31:51 ******/
CREATE DATABASE [MusicOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicOnline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\MusicOnline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicOnline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\MusicOnline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicOnline]
GO
USE [MusicOnline]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 10/10/2017 14:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[IDAlbum] [char](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CountListen] [int] NULL,
	[NguoiUp] [char](10) NULL,
 CONSTRAINT [PK_Album] PRIMARY KEY CLUSTERED 
(
	[IDAlbum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 10/10/2017 14:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[IDAlbum] [char](10) NOT NULL,
	[IDMusic] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[IDAlbum] ASC,
	[IDMusic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Music]    Script Date: 10/10/2017 14:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Music](
	[IDMusic] [nchar](10) NOT NULL,
	[Name] [nchar](10) NULL,
	[TheLoai] [nvarchar](50) NULL,
	[CountListen] [int] NULL,
	[LinkImage] [varchar](50) NULL,
	[LinkMusic] [varchar](50) NULL,
	[LinkSubtitle] [varchar](50) NULL,
 CONSTRAINT [PK_Music] PRIMARY KEY CLUSTERED 
(
	[IDMusic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusicSinger]    Script Date: 10/10/2017 14:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusicSinger](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDMusic] [nchar](10) NULL,
	[IDSinger] [char](10) NULL,
 CONSTRAINT [PK_MusicSinger] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Singer]    Script Date: 10/10/2017 14:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Singer](
	[IDSinger] [char](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[LinkImage] [varchar](50) NULL,
	[CountLike] [int] NULL,
	[LinkIntroduction] [varchar](50) NULL,
 CONSTRAINT [PK_Singer] PRIMARY KEY CLUSTERED 
(
	[IDSinger] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 10/10/2017 14:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[UserName] [varchar](30) NOT NULL,
	[Password] [varchar](30) NULL,
	[authorize] [varchar](10) NULL,
	[IDUser] [char](10) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/10/2017 14:31:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[IDUser] [char](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[PhoneNumber] [varchar](20) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Album]  WITH CHECK ADD  CONSTRAINT [FK_Album_User] FOREIGN KEY([NguoiUp])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[Album] CHECK CONSTRAINT [FK_Album_User]
GO
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD  CONSTRAINT [FK_Albums_Album] FOREIGN KEY([IDAlbum])
REFERENCES [dbo].[Album] ([IDAlbum])
GO
ALTER TABLE [dbo].[Albums] CHECK CONSTRAINT [FK_Albums_Album]
GO
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD  CONSTRAINT [FK_Albums_Music] FOREIGN KEY([IDMusic])
REFERENCES [dbo].[Music] ([IDMusic])
GO
ALTER TABLE [dbo].[Albums] CHECK CONSTRAINT [FK_Albums_Music]
GO
ALTER TABLE [dbo].[MusicSinger]  WITH CHECK ADD  CONSTRAINT [FK_MusicSinger_Music] FOREIGN KEY([IDMusic])
REFERENCES [dbo].[Music] ([IDMusic])
GO
ALTER TABLE [dbo].[MusicSinger] CHECK CONSTRAINT [FK_MusicSinger_Music]
GO
ALTER TABLE [dbo].[MusicSinger]  WITH CHECK ADD  CONSTRAINT [FK_MusicSinger_Singer] FOREIGN KEY([IDSinger])
REFERENCES [dbo].[Singer] ([IDSinger])
GO
ALTER TABLE [dbo].[MusicSinger] CHECK CONSTRAINT [FK_MusicSinger_Singer]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_User] FOREIGN KEY([IDUser])
REFERENCES [dbo].[User] ([IDUser])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_User]
GO
USE [master]
GO
