.header{
	width:  100%;
	height: 50px;
	background:#1c1c1c;
	
}
.header .logo {
    float: left;
    width: 185px;
    height: 40px;
    margin-top: 6px;
}
.search {
    float: left;
    margin-top: 5px;
    width: 400px;
    position: relative;
}
 .search .input-txt {
    float: left;
    padding: 4px 14px;
    width: 80%;
    border: 0 none;
    height: 29px;
}
.search .input-bnt {
    float: left;
	width:80px;
	height:29px;
   background:#e74c3c;
	text-align:center;
}
.box-dangki{
	width:200px;
	height:50px;
	float:right;
	
}
.box-dangki a{
	float:left;
	line-height:32px;
	text-align:center;
	padding:0 5px 0 5px;
	text-decoration:none;
	
	margin:10px 10px 10px 10px;
	color:#fff;
}
.container-header {
  
	min-width:1000px;
	height:50px;
	
   padding:0 175px 0 175px;
    
}
 
.fn-item{
	width:100%;
	float:left;
	margin-bottom:10px;
	list-style:none;
	position:relative
}
.fn-first{
	width:100%;
	float:left;
	padding-left:0px
}
.first-song{
	width:290px;
	height:41px;
	margin-bottom:15px;
	padding:0px 10px 15px 0px;
	
}
.song-name {
	width:250px;
	height:19px;
	float:left;
	padding-left:40px;
}


.wrapper-page{
	float:left;
	width:1000px;
	min-height:3320px;
	padding:15px 12px 0 12px;
	margin:0 175px 0 175px;
	background-color: #fff;
	border:1px solid red;
}
.footer{
	width:100%;
	height:107px;
	padding-top:20px;
	border:1px solid blue;
	float:left;
	background: #222428;
}
.wrap-content{
	width:650px;
	height:3198px;
	border:1px solid;
	float:left;
	
}
.wrap-sidebar{
	width:300px;
	height:3085px;
	border:1px solid;
	float:left;
	margin-left:12px;
	
}
.content1{
	width:650px;
	height:329px;
	border:1px solid;
	float:left;
	
}
.content1-img{
	width:650px;
	height:274px;
	
	float:left;
	margin-bottom:7px;
}
.content2{
	width:650px;
	height:469px;
	border:1px solid;
	float:left;
	margin-top:30px;
}
.title-section {
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 15px;
	font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
	font-size:26px;
	color:purple;
	text-decoration:none;
}
.title-section a{
	font-family: "Open Sans","segoe ui",Helvetica,Arial,sans-serif;
	font-size:26px;
	color:purple;
	text-decoration:none;
}
.icon-arrow {
    background-position: 0 -2009px;
    position: relative;
    top: 3px;
    right: -5px;
}
.title-section .icon-arrow{
	width: 20px;
    height: 20px;
   
    display: inline-block;
    top: -2px;
    left: -5px;
    position: relative;
	background-image: url(image/icon.png);
    background-repeat: no-repeat;
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.des{
	width:100%;
	float:left;
	padding-top:8px;
	font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
	text-decoration:none;
}
.inblock{
	width:100%;
	float:left;

    
	font-family: "Roboto","segoe ui",Helvetica,Arial,sans-serif;
	
	text-decoration:none;
}
.txt-info{
	font-size: 12px;
	color:#888;
		font-weight: 400;
}
.txt-primary{
	font-size: 14px;
	color:#000;
   font-weight: 400;
}
.content3{
	width:650px;
	height:532px;
	border:1px solid;
	float:left;
	margin-top:30px;
}
.content4{
	width:650px;
	height:765px;
	border:1px solid;
	float:left;
	margin-top:30px;
}
.section{
	width:650px;
	height:699px;
	border:1px solid yellow;
	float:left;
    margin-top:30px;
}
#viet-hot-song{
	width:320px;
	height:670px;
	border:1px solid;
	float:left;
}


#viet-hot-new{
	width:315px;
	height:670px;
	border:1px solid;
	float:left;
	margin-left:8px
}
.topic-hot{
	width:300px;
	height:339px;
	border:1px solid;
	float:left;
	margin-bottom:20px;
}
.topic-hot ul li img{
	display: block;
    width: 300px;
    height: 90px;
}
li{
	list-style: none;
}
.topic-hot ul li{
	margin-bottom:15px;
}
.part-inside{
	width:100%;
	float:left;
}
.topic-hot .view-more{
	display: block;
    float: left;
    position: relative;
    margin-top: -5px;
    margin-bottom: 10px;
    padding-right: 25px;
    color: #707070;
	
}
.sthumb {
	min-width:100%;
	float:left;
	margin-left:-6px;
	margin-right:-10px;
}

.sthumb li {
    display: inline-block;
    float: left;
    width: 124px;
    height: 48px;
    margin-left: 7px;
    border: 1px solid #dfdfdf;
    overflow: hidden;
}
.chart-realtime{
	width:300px;
	height:348px;
	border:1px solid;
	float:left;
	
}
.widget{
	width:300px;
	height:889px;
	border:1px solid red;
	float:left;
	
}

.widget2{
	width:300px;
	height:604px;
	border:1px solid red;
	float:left;
	
}
.widget3{
	width:300px;
	height:795px;
	border:1px solid red;
	float:left;
	
}

.nav1,.nav1 a,.nav1 form,.nav1 input,.nav1 li,.nav1 ul
{border:none;margin:0;padding:0
}
.nav1 a
{text-decoration:none
}
.nav1 li
{list-style:none
}
.nav1,input
{font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:16px;
-webkit-font-smoothing:antialiased
}
.nav1
{cursor:default;display:inline-block;position:relative;z-index:500}

.nav1 li{float:left}
.nav1 li a{
	
	
	color: #337ab7;
	display:block;
	line-height:2.5;
	padding:0 1.25em;
	
	transition:all .3s ease
	}
.nav1 li:hover a,.nav1 li a:focus{background:}
.nav1 li:first-child a{border-left:none;border-radius:3px 0 0 3px}

.mega-menu{background:#fff;
border:1px solid #ddd;
border-radius:0 0 3px 3px;
opacity:0;position:absolute;
transition:all .3s ease .15s;
visibility:hidden;
width:100%}
li:hover .mega-menu{opacity:1;overflow:visible;visibility:visible}
.nav-column{float:left;padding:2.5%;width:20%}
.nav-column li a{
color:#928787;
display:block;

}
.nav-column a:hover{color:#2196f3}
h5{color:#372f2b;
font-size:14;
line-height:1.15;
margin:1.25em 0 .75em;
text-transform:uppercase
}

